#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "#{@settings['app_id']}", // App ID
      channelUrl : "//#{request.domain}/channel.html", // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    var passed_auth = false;

    // Additional initialization code here
    $("#scores_form").submit(function() {
      debugger;
      if (passed_auth) {
        return true;
      } else {
        FB.login(function(response) {
          passed_auth = true;
          console.log(response);
          $("#scores_form").submit();
        });

        return false;
      }
    });
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
  }(document));

!= form_tag('/scores', :id => "scores_form") do
  %label{:for => "score"} Enter your score
  %input#score{:name => "score", :type => :text}
  %input#login{:type => :submit}